<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type = "module" src="../scripts/formhandler.js"></script>
    <script type = "module" src="../scripts/makes.js"></script>
    <link href="../css/style.css" rel="stylesheet">
    <title>Select Car</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Cariboo CMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="../views/selectcar.html">Add Packages <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="wrapper">
        <h1>Select Car:</h1></br>
        <div class="container">
            <form name="plusGuide" action="self" method="post">
                <div id="wrapper" style="width: 800px;">
                    <div class="form-row">
                        <!-- select year -->
                        <select class="col-md-2 form-control" name="selectYear">
                            <option>Select Year</option>
                            <option>2</option>
                        </select>
                        <!-- select make -->
                        <select class="col-md-2 form-control" name="selectMake" disabled="">
                            <option>Select Make</option>
                            <option>2</option>
                        </select>

                        <!-- select model -->
                        <select class="col-md form-control" name="selectModel" disabled="">
                            <option>Select Model</option>
                        </select>

                        <!-- select season -->
                        <select class="col-md form-control" name="selectSeason" disabled="">
                            <option>Select Season</option>
                            <option>ALL SEASON</option>
                            <option>WINTER</option>
                        </select>
                        <!-- search button -->
                        <input class="col-md-1 form-control" type="submit" name="search" value="search" disabled="">
                    </div>
                </div>
            </form>
        </div>
      </div>
    
</body></html>